<a href="{{ repo.url }}">{{ repo.name }}</a>
<br />
<span class="small">{{ repo.description }}</span>
<span class="pull-right">
  {{ repo.stargazers_count }} <i class="ghyphicon ghyphicon-star"></i>
</span>
