<div class="well">
  Important Stats:

  <div class="pull-right">
    <span class="label label-primary">Repositories:{{ repo_count }}</span>
    <span class="label label-success">Most Stars:{{ most_stars }}</span>
  </div><!-- pull-right -->

</div><!-- well -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Repo List</h3>

    <ul class="list-group">
      {% for repo in repos %}
        <li class="list-group-item">
          {% include ':githut:repo.html.twig' %}
	</li>
      {% endfor %}
    </ul>

  </div><!-- -->
</div><!-- panel -->
